<div class="p-2 h-full flex flex-col">
    <h3 class="text-lg font-semibold mb-2 flex-shrink-0">Recent Messages</h3>
    @if (marketData?.length) {
        <div #scrollContainer class="flex-1 overflow-auto">
            <table class="w-full border-collapse text-left">
                <thead class="sticky top-0 bg-white border-b border-gray-300">
                <tr class="text-sm text-gray-600">
                    <th class="pb-1 px-2">Symbol</th>
                    <th class="pb-1 px-2">Price</th>
                    <th class="pb-1 px-2">Time</th>
                </tr>
                </thead>
                <tbody>
                    @for (m of marketData; track m.t) {
                        <tr class="even:bg-gray-50 hover:bg-gray-100 transition">
                            <td class="py-1 px-2 font-medium">{{ m.s }}</td>
                            <td class="py-1 px-2">{{ m.p | number: '1.2-2' }}</td>
                            <td class="py-1 px-2">{{ m.T | date: 'mediumTime' }}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } @else {
        <p class="text-gray-500 italic">No data yet.</p>
    }
</div>
